<!DOCTYPE html>
<html lang="en">
<head>
  <title>Price Calculator</title>
</head>
<body>

<div>
  <h1>How much to charge?</h1>
  <p>If you were a freelance web designer, how much should you charge for a website? Fill out the form and find out!</p>
</div>

<div>
  <form id="budget" action="javascript:calculatePrice()">
    <label for="salary">What annual salary seems suitable for you?</label>
    <input type="text" id="salary" name="salary"/><br><br>
    <label for="days">How many days do you think it will take you to make the website?</label>
    <input type="text" id="days" name="days"/><br><br>
    <input type="submit" value="Calculate your price!"><br><br>
    <label id="finalPrice"> ??? </label>
  </form>
</div>


<script>
  function calculatePrice() {
    var s = document.getElementById("salary").value;
    var d = document.getElementById("days").value;
    console.log("Calculating price")
    console.log(s)
    console.log(d)
    let finalPrice = 0;
    dailyRate = s/365;
    finalPrice = dailyRate * d;
    document.getElementById("finalPrice").innerHTML = finalPrice;
  }
  </script>

</body>
</html>
